<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <img src="/admin/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">Admin</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
            </div>
            <div class="info">
                <a href="#" class="d-block">
                    <p> <span class="font-weight">Xin chào:</span>
                        <%= user.ten_nhan_vien %>
                    </p>

                </a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview">
                    <!-- <a href="/admin" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt mx-1"></i>
                        <p>
                            Bảng tin
                        </p>
                    </a> -->
                </li>
                <li class="nav-item has-treeview">
                    <a href="/admin/nhanvien" class="nav-link">
                        <i class="fa-solid fa-clipboard-user mx-2"></i>
                        <p>
                            Nhân viên
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="/admin/khachhang" class="nav-link">
                        <i class="nav-icon fas fa-chart-pie mx-1"></i>
                        <p>
                            Khách hàng
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-tree mx-1"></i>
                        <p>
                            Quản lý sản phẩm
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/danhmuc" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Danh mục sản phẩm</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/mau_sac" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Màu sắc</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/dung_luong" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Dung lượng</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/product" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Dòng sàn phẩm</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/product_all" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Tất cả sản phẩm </p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-edit mx-1"></i>
                        <p>
                            Quản lý danh mục
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/nhacungcap" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Nhà cung cấp</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/hangsanxuat" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Hãng sản xuất</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/tinh" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Tỉnh/Thành phố</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/huyen" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Quận/huyện</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/xa" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Phường/xã</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="/admin/hoadon" class="nav-link">
                        <i class="fa-solid fa-money-bills mx-2"></i>
                        <p>
                            Hóa đơn
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <!-- <a href="/admin/baohanh" class="nav-link">
                        <i class="fa-solid fa-award mx-2"></i>
                        <p>
                            Bảo hành
                        </p>
                    </a> -->
                </li>
                <li class="nav-item has-treeview">
                    <a href="/admin/nhapkho" class="nav-link">
                        <i class="fa-solid fa-warehouse mx-2"></i>
                        <p>
                            Nhập kho
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="/admin/baocao" class="nav-link">
                        <i class="nav-icon fas fa-table mx-1"></i>
                        <p>
                            Báo cáo
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="/auth/logoutAdmin" class="nav-link">
                        <i class="fa-solid fa-right-from-bracket mx-2"></i>
                        <p>
                            Đăng xuất
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>